/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-38abeb43-xmcvy50i version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-38abeb43-xmcvy50i .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-38abeb43-xmcvy50i .Subtitle  ,  .master .style-38abeb43-xmcvy50i .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-38abeb43-xmcvy50i .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-38abeb43-xmcvy50i .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-38abeb43-xmcvy50i .Title  ,  .master .style-38abeb43-xmcvy50i .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-38abeb43-xmcvy50i .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-38abeb43-xmcvy50i .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-38abeb43-xmcvy50i .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-38abeb43-xmcvy50i .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-38abeb43-xmcvy50i .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-38abeb43-xmcvy50i .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-38abeb43-xmcvy50i.master.container > #children  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: HelveNueThinNormal;
				
						letter-spacing: 0.0em;
				
						line-height: 1.3em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Arial;
				
						border-width: 2px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Arial;
				
						letter-spacing: -0.0em;
				
						line-height: 1.6em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Arial;
				
						letter-spacing: 0.0em;
				
						line-height: 2.2em;
					
		}
	
	
	
			body    {
		
						background-color: rgb(0, 0, 0);
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-38abeb43-c7pnvpsk version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-title  ,  .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-body h1  { font-size:calc( 10px + ( 30rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-right: 20px;
						
						margin-top: 5px;
						
						margin-left: 20px;
						
						margin-bottom: 5px;
						
						font-family: Arial;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-link-img  {
		
						width: 33px;
						
						margin: 20px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 500px;
						
						margin-right: 20px;
						
						margin-top: 35px;
						
						margin-left: 20px;
						
						margin-bottom: 35px;
						
						background-color: rgba(246, 239, 217, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-item-links span  ,  .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk #sr-basket-widget *  { font-size:calc( 10px + ( 13rem - 10rem ) );
						color: #ffffff;
						
						padding-bottom: 10px;
						
						border-color: rgb(223, 223, 223);
						
						padding-right: 20px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						font-family: Arial;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-divider  {
		
						border-color: rgb(255, 255, 255);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .item-content:not(.blocks_layout)  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 40px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
						
						margin-top: 20px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-element.icon-source  {
		
						padding-right: 0px;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 0px;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						padding-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 20px;
						
						width: 80px;
						
						margin-left: 0px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 25px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .background-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .middle_layout .helper-div  ,  .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-subtitle  ,  .style-38abeb43-xmcvy50i .style-38abeb43-c7pnvpsk .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(200, 200, 200);
						
						letter-spacing: 0.2em;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-38abeb43-wrpg1hdx version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx  .preview-content-holder  {
		
						margin-right: 30px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 794px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 30px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(0, 0, 0);
						
						border-bottom-width: 1px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						width: 15%;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .inner-pic  {
		
						opacity: 0.80953125;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter: brightness(0.6);	
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -3%;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .multi_layout .helper-div.middle-center  {
		
						padding-left: 3%;
						
						padding-right: 3%;
						
						width: 94%;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .background-div  {
			
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-title  ,  .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 50rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: -0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 0.9em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-item-links span  ,  .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx #sr-basket-widget *  { 
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-element.icon-source  {
		
						width: 210px;
						
						margin-bottom: 15px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-item-links span:before  ,  .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .effect-tester  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-item-links span:hover  ,  .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(160, 160, 160);
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .middle_layout .helper-div  ,  .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 2200px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-subtitle  ,  .style-38abeb43-xmcvy50i .style-38abeb43-wrpg1hdx .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-38abeb43-wrpg1hdx #vbid-38abeb43-hskxj9vb .preview-content-holder{
				
							text-align : left;
					
				}















 .style-38abeb43-wrpg1hdx #vbid-38abeb43-hskxj9vb .preview-content-wrapper{
				
							text-align : left;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-38abeb43-e74h1ng1 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview.image-cover  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1  .preview-content-holder  {
		
						margin-bottom: 10px;
						
						text-align: left;
						
						margin-top: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						max-width: 750px;
							
		}
	
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-divider  {
		
						border-color: rgb(255, 255, 255);
						
						margin-top: 5px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .inner-pic  {
		
						color: rgb(255, 255, 255);
						
		    			-webkit-filter:none;filter:none;
						background-size: cover;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 #pagination-holder  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(131, 131, 131);
						
						padding-bottom: 10px;
						
						border-color: rgb(131, 131, 131);
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Times New Roman;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -2%;
							
		}
	
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .blocks-preview-item-links .Link:hover  {
		
						background-color: rgb(223, 223, 223);
						
						color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .multi_layout .helper-div.middle-center  {
		
						padding-left: 2%;
						
						padding-right: 2%;
						
						width: 96%;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .background-div  {
			
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-title  ,  .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-body h1  { 
						font-family: 'Playfair Display';
						font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.4em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1.master.item-box   {
		
						padding-left: 3%;
						
						padding-right: 3%;
						
						width: 94%;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-item-links span  ,  .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(243, 243, 243);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Raleway;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .blocks-preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(223, 223, 223);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .stripe-background  {
		
						opacity: 0.5;
						
						margin-top: -30px;
						
						margin-left: -3%;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-element.icon-source  {
		
						margin-left: 20px;
						
						width: 40px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 35px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 25px;
						
						padding-left: 0px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1.item-box > .item-wrapper   {
		
						max-width: 2000px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(223, 223, 223);
						
						letter-spacing: 0.3em;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-icon-holder  {
		
						text-align: left;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-price  {
		
						color: rgb(248, 248, 248);
						
						font-family: Arial;
							
		}
	
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-item-links span:hover  ,  .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-element.Link.hover-tester  { 
						color: rgb(35, 35, 35);
						
						background-color: rgb(243, 243, 243);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-item-links span:before  ,  .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .blocks-preview-title  {
		font-size:calc( 10px + ( 50rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 15px;
						
						margin-bottom: 15px;
						
						font-family: 'Playfair Display';
							
		}
	
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .blocks-preview-icon-holder .icon-source  {
		
						width: 50px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-body  {
		
						line-height: 1.5em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(223, 223, 223);
						
						max-width: 400px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}
	
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .blocks-preview-item-links .Link  {
		
						font-family: Abel;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(243, 243, 243);
						
						padding-bottom: 5px;
						
						border-color: rgb(243, 243, 243);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 0px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 1px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-subtitle  ,  .style-38abeb43-xmcvy50i .style-38abeb43-e74h1ng1 .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-38abeb43-djzbfjtv version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv  .preview-content-holder  {
		
						margin-right: 20px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 450px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 20px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .item-content:not(.blocks_layout)  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .inner-pic  {
		
						opacity: 0.86953125;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter: brightness(0.6);	
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-form .Field  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						padding-bottom: 15px;
						
						border-color: rgb(133, 133, 133);
						
						padding-right: 15px;
						
		    			border-top:none;border-left:none;border-right:none;border-bottom-style:solid;
						padding-left: 15px;
						
						padding-top: 15px;
						
						min-width: 220px;
						
						border-width: 1px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-form .Field:hover  ,  .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-form .Field.hover-tester:not(.placeholder-mode)  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0);
						
						color: rgb(67, 67, 67);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-form .Field:not(.placeholder-mode):not(.no-value):not(:hover)  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-title  ,  .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-body h1  { font-size:calc( 10px + ( 30rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-item-links span  ,  .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv #sr-basket-widget *  { 
						border-width: 2px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 35px;
						
						padding-left: 30px;
						
						border-radius: 0px;
						
						padding-top: 15px;
						
						margin-bottom: 30px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						margin-top: 5px;
						
						width: 70px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-form .Field.placeholder-mode:not(:hover)  ,  .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-form .Field.no-value:not(:hover)  ,  .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-form .field-holder .Field.field-dropdown:not(.placeholder-mode):not(.no-value):not(:hover)  { 
						color: rgb(133, 133, 133);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-item-links span:before  ,  .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .effect-tester  { 
						background-color: rgb(35, 35, 35);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-item-links span:hover  ,  .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-element.Link.hover-tester  { 
						color: rgb(35, 35, 35);
						
						background-color: rgb(227, 227, 227);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(154, 154, 154);
						
						letter-spacing: 0em;
						
						max-width: 800px;
						
						margin-top: 0px;
						
						margin-bottom: 25px;
						
						line-height: 1.4em;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .field-holder  {
			
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .middle_layout .helper-div  ,  .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1020px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-subtitle  ,  .style-38abeb43-xmcvy50i .style-38abeb43-djzbfjtv .preview-body h2  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(227, 227, 227);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/

























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-38abeb43-rrsnajne version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne.master.item-box   {
		
						position: relative;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-item-links span:hover  ,  .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-element.Link.hover-tester  { 
						color: rgb(223, 223, 223);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne.master.item-box   {
		
						padding-left: 3%;
						
						width: 94%;
						
						padding-right: 3%;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 10px;
						
						margin-top: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-item-links span  ,  .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(181, 181, 181);
						
						padding-bottom: 5px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						border-radius: 0px;
						
						padding-top: 5px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
						
						margin-left: 3px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-title  ,  .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-body h1  { font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-right: 10px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-item-links.allow-bg-color  ,  .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .submenu  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-right: 10px;
						
						margin-left: 10px;
						
						width: 80px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .stripe-background  {
		
						margin-left: -3%;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-item-links span:before  ,  .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .effect-tester  { 
						background-color: rgb(60, 60, 60);
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: center;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .middle_layout .helper-div  ,  .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-subtitle  ,  .style-38abeb43-xmcvy50i .style-38abeb43-rrsnajne .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: Raleway;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
